html{
    background: url(img/bts.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black(0, 88, 88);
    text-align: center;
}

h1{
    color: black;
}

p{
    font-size: 20px;
}

a{
    color: rgb(60, 39, 94);
    text-decoration: none;
}

a:hover{
    color: rgb(171, 141, 218);
    text-decoration: underline;
}

ul{
    text-align: left;
    width: 450px;
    margin: auto;
    font-size: 18px;
}

.ul2{
    text-align: left;
    width: 500pxpx;
    margin: auto;
}

.white{
    color: rgb(171, 141, 218);
}

.white1{
    color: rgb(60, 39, 94);
}

.white2{
    color: rgb(171, 141, 218);
}

.white3{
    color: rgb(60, 39, 94);
}

